<!-- Footer -->
<div id="footer">
  <div class="container">
    <div class="row ">
    </div>
  </div>

  <!-- Icons -->
  <ul class="icons">
    <li><a href="http://slack.fluentd.org" class="icon fa-slack"><span class="label">Slack</span></a></li>
    <li><a href="http://twitter.com/fluentbit" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="http://github.com/fluent/fluent-bit" class="icon fa-github"><span class="label">GitHub</span></a></li>
  </ul>

  <!-- Copyright -->
  <div class="copyright">
    <ul class="menu">
      <li>&copy; <a href="https://www.treasuredata.com">Treasure Data</a>. All rights reserved</li>
    </ul>
  </div>

</div>
</body>
</html>
